@using Web.Models;
@model SaveCancelViewModel


@{
	var label = Model.Id > 0 ? "Update" : "Create";
}


<button id="submit" type="submit" class="btn btn-primary">@label</button>
<button id="cancel" type="button" class="btn btn-warning" onclick="OnCancelClick('@Model.ReturnUrl')">Cancel</button>

<script>
	function OnCancelClick(returnUrl) {
		window.location.href = returnUrl;
	}
</script>
